<div class="container-lg ">
    <h1 style="text-align: center ">Administración de Remitentes</h1>
    <form class="row g-4" [formGroup]="frmRemitente">
        <div class="col-md-12 ">
            <label for="validationServer04 " class="form-label ">Nombre</label>
            <input type="text " class="form-control is-valid" formControlName="nombre" ngModel required>
            <div id="validationServer04Feedback " class="invalid-feedback ">
                Introuce el nombre del remitente.
            </div>
        </div>
        <div class="col-md-3 ">
            <label for="validationServer04" class="form-label ">Área</label>
            <select class="form-control" id="area_id" formControlName="area_id" ngModel required>
              <option selected disabled value=" ">Selecciona ...</option>
              <option *ngFor="let i of IareasTransparencia" [value]="i.id">{{i.area}}</option>
       </select>
            <div id="validationServer04Feedback " class="invalid-feedback ">
                Introduce el área a la que pertenece el remitente.
            </div>
        </div>
        <div class="col-md-3 ">
            <label class="form-label">Estatus</label>
            <select class="form-control" id="estatus_id" formControlName="estatus_id" ngModel required>
              <option selected disabled value=" ">Seleccionar ...</option>
              <option value="1">ACTIVO</option>
              <option value="0">BAJA</option>
       </select>
            <div id="validationServer04Feedback " class="invalid-feedback ">
                Introduce el estatus del remitente.
            </div>
        </div>

        <div class="col-12 ">
            <button [disabled]="frmRemitente.invalid" type="submit " class="btn btn-primary" (click)="putRemitente()"><i class="fa-solid fa-pen "></i>  Guardar</button>
            <button type="submit " class="btn btn-primary" (click)="navegacionFormulario(2) "> Regresar</button>
        </div>
    </form>
</div>
<hr width="100% " size="5px " color="red ">
<div class="container-lg ">
    <h2>Historial de remitentes</h2>
    <div class="container-lg">
        <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input type="text" matInput (keyup)="applyFilter($event, 3)" placeholder="buscar">
        </mat-form-field>

        <mat-table mat-table [dataSource]="remitentesDataSource">
            <ng-container *ngFor="let col of remitentesTitulos" matColumnDef="{{col}}">
                <mat-header-cell *matHeaderCellDef>{{col}}</mat-header-cell>
                <mat-cell *matCellDef="let element; let index">
                    <div *ngIf="col=='Acciones'">
                        <button type="button " class="btn btn-primary" (click)="obtieneRemitenteSeleccionado(index)"><i class="fa-solid fa-pen"></i></button>
                    </div>
                    <div *ngIf="col!='Acciones'">
                        {{element[col]}}
                    </div>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="remitentesTitulos"></mat-header-row>
            <mat-row *matRowDef="let row; columns: remitentesTitulos;"></mat-row>
        </mat-table>
        <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"> </mat-paginator>
    </div>
</div>